<%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>

<main>
  <%if(user.playerid < 6){%>
<button class="btn rounded-pill"
      style="background-color:#1e90ff; color:#ffffff; position: absolute;right: 100px;top:80px"
      data-bs-toggle="modal" data-bs-target="#CreateGame">Create Game</button>
      <%}%>
      <%- include ('../partials/createGameModal') %>
  <div class="container text-center" style="padding-bottom:10vh;">
    <h1 style="padding-top:2vh; padding-bottom:2vh">All games</h1>
    <h4 style="color:#949494;">All the games in the database.</h4>
    <h6 style="color:#949494;">Click a date below to view the game details</h6>

    <div style="padding-top:2vh;">
        <a href="yourUpcomingGames" class="btn rounded-pill" style="background-color:#1e90ff;color:#ffffff;">Your upcoming games</a>
        <a href="allUpcomingGames" class="btn rounded-pill" style="background-color:#1e90ff;color:#ffffff;">All upcoming games</a>
    </div>

    <% if(games.length == 0) { %>
        <h4 style="padding-top:5vh;color:#17d475;">No games in the database</h4>
    <% } %>

    <% games.forEach(function(game) { %>
      <div class="card text-white bg-dark mb-3 text-center mx-auto d-flex" style="width:25%;">
        <div class="card-body">
          <h1 style="padding-top:2vh;">Game Details</h1>
          <h3 style="color:#1e90ff;"><%= game.team1 %><span style="color:#ffffff;"> - </span><%= game.team2 %></h3>
          <h5>Sport: <span style="color:#1e90ff;"><%= game.sportname %></span></h5>
          <h5>Game ID: <span style="color:#1e90ff;"><%= game.gameid %></span></h5> 
          <h5>Date (mm-dd-yyyy): <span style="color:#1e90ff;"> <%= game.gamedate.getMonth()+1 %>-<%= game.gamedate.getDate() %>-<%= game.gamedate.getFullYear() %></span></h5> 
          <h5>Time (hh:mm): <span style="color:#1e90ff;"><%= game.time.substring(0,5) %></span></h5> 
          <h5>Location: <span style="color:#1e90ff;"><%= game.location %></span></h5> 
          <% if (game.winner === 1) { %>
            <h5>Winner: <span style="color:#1e90ff;"><%= game.team1 %></span></h5>
          <% } else if (game.winner === 2) { %>
            <h5>Winner: <span style="color:#1e90ff;"><%= game.team2 %></span></h5>
          <% } %>
        </div>
      </div>
    <% }); %>
  </div>
</main>

<%- include ('../partials/footer') %>

