<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>






<main>
    <div class="container text-center">
        <h1 style="padding-top:2vh; padding-bottom:2vh">All upcoming games</h1>
        <h6 style="color:#949494">Click a date below to view the game details</h6>
        <h8 style="color:#949494">If there are no games, then all games in the database have passed.</h8>

        <div style="padding-top:2vh">
            <a href="yourUpcomingGames" class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff">Your upcoming games</a>
            <a href="allGames" class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff">All games</a>

        </div>

        <% if(games.length == 0) { %>
            <h4 style="padding-top:5vh;color:#17d475">No upcoming games</h4>
            <% } %>


           
            <% var today = new Date()%>


                <% games.forEach(function(game){ %>

                    <% if(!((game.gamedate.getFullYear() < today.getFullYear()) || ((game.gamedate.getFullYear() == today.getFullYear()) && (game.gamedate.getMonth()<today.getMonth()))  ||   ((game.gamedate.getFullYear() == today.getFullYear()) && (game.gamedate.getMonth()==today.getMonth()) &&(game.gamedate.getDate()<today.getDate())))) {%>

                    <form action="/game" method="GET">
                        <input class="form-control" name="gameid" id="gameid" value="<%= game.gameid%>" type="hidden">
                    <div style="padding-top:3vh">
                      <button class="btn btn-dark"  >
                        ID <%=game.gameid%>:
                        <%= game.gamedate.getMonth()+1 %>-<%=  game.gamedate.getDate()%>-<%= game.gamedate.getFullYear() %>
    
                      </button>
                    </div>
                  </form>
                  <% } %>

                            
                        




                <% }); %>

               

                
                
                
          
               
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          hello
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
  
  
  
  
  
    </div>
</main>

<%- include ('../partials/footer') %>
