<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h3> Your Profile  <a href="/edit_profile">[Edit]</a> </h3>
        <form action="/profile" method="POST">
            <label class="form-label"> Username </label>
            <input type="text" class="form-control" value="<%= user.username %>" disabled> <br>

            <label class="form-label"> Name </label>
            <input type="text" class="form-control" value="<%= user.playername %>" disabled> <br>

            <label class="form-label"> Class year </label>
            <input type="text" class="form-control" value="<%= user.classyear %>" disabled> <br>

            <a href="/change_password">Change password</a>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>