<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container text-center">
        <%- include ('../partials/message') %>
        <h3 style="padding-top:5vh"> Your Profile  <a class="btn rounded-pill" style="background-color:#e8fcec; color:#17d475"  href="/edit_profile">Edit</a> </h3>
        <img src="<%= user.profilephoto %>" style="width:100px;height:100px;border-radius:50%;">
        <div style="padding-top:2vh">
        <div class="btn rounded-pill bg-light disabled border-0" style="font-size:1.5vh">Member since <%= new Date(user.joindate).getMonth()+1%>-<%=new Date(user.joindate).getDate()%>-<%=new Date(user.joindate).getFullYear()%> </div>
    </div>

        <form action="/profile" method="POST">
            <div style="width:30vh;padding-top: 2vh;" class="mx-auto">

            <label class="form-label"> Username </label>
            <input type="text" class="form-control" value="<%= user.username %>" disabled> <br>

            <label class="form-label"> Name </label>
            <input type="text" class="form-control" value="<%= user.playername %>" disabled> <br>

            <label class="form-label"> Class year </label>
            <input type="text" class="form-control" value="<%= user.classyear %>" disabled> <br>

          

            <a class="btn rounded-pill" style="background-color:#ffe5ec;color:#fb6f92" href="/change_password">Change password</a>
        </div>
        </form>
    </div>
</main>

<%- include ('../partials/footer') %>

