<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
<div class="col">
    <%- include ('../partials/message') %>
</div>
    <h1><%= team.teamname %></h1>
</main>

<%- include ('../partials/footer') %>