<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container text-center" style="padding-bottom:10vh;">
    <h1 style="padding-top:2vh;padding-bottom:2vh;">Your upcoming games</h1>
    <h4 style="color:#949494;">Upcoming games that your team(s) are playing in.</h4>
    <h6 style="color:#949494;">Click a date below to view the game details</h6>
    <h6 style="color:#949494;">If there are no games, then all games in the database have passed.</h6>

    <div style="padding-top:2vh;">
      <a href="allUpcomingGames" class="btn rounded-pill" style="background-color:#1e90ff;color:#ffffff;">All upcoming games</a>
      <a href="allGames" class="btn rounded-pill" style="background-color:#1e90ff;color:#ffffff;">All games</a>
    </div>

    <% if(locals.error || teams.length == 0) {  %>
      <h4 style="padding-top:5vh;color:#ff8a8a;">You haven't joined any teams yet. <br>Join teams by going to the <a href="/sports"> sports</a> page.</h4>
    <% } else if(games.length == 0) { %>
      <h4 style="padding-top:5vh;color:#17d475;">You have no upcoming games</h4>
      <% var today = new Date() %>
    <% } else { %>
      <% var today = new Date() %>
      <% games.forEach(function(game) { %>
        <% if(!((game.gamedate.getFullYear() < today.getFullYear()) || ((game.gamedate.getFullYear() == today.getFullYear()) && (game.gamedate.getMonth() < today.getMonth()))  ||   ((game.gamedate.getFullYear() == today.getFullYear()) && (game.gamedate.getMonth() == today.getMonth()) && (game.gamedate.getDate() < today.getDate())))) { %>
          <div class="card text-white bg-dark mb-3 text-center mx-auto d-flex" style="width:25%;">
            <div class="card-body">
              <h1 style="padding-top:2vh;">Game Details</h1>
              <h3 style="color:#1e90ff;"><%= game.team1 %><span style="color:#ffffff;"> - </span><%= game.team2 %></h3>
              <h5>Sport: <span style="color:#1e90ff;"><%= game.sportname %></span></h5>
              <h5>Game ID: <span style="color:#1e90ff;"><%= game.gameid %></span></h5> 
              <h5>Date (mm-dd-yyyy): <span style="color:#1e90ff;"> <%= game.gamedate.getMonth()+1 %>-<%= game.gamedate.getDate() %>-<%= game.gamedate.getFullYear() %></span></h5> 
              <h5>Time (hh:mm): <span style="color:#1e90ff;"><%= game.time.substring(0,5) %></span></h5> 
              <h5>Location: <span style="color:#1e90ff;"><%= game.location %></span></h5> 
            </div>
          </div>
        <% } %>
      <% }); %>
    <% } %>
  </div>
</main>

<%- include ('../partials/footer') %>